@model BL.ViewModel.ShoppingCartViewModel

@{
    ViewBag.Title = "ViewCart";
}

<h2>Cart</h2>

@if (Model == null)
{
    <h4 style="text-align:center; width:100%;">No Products in Cart</h4>
}
else
{



    <div class="pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

                    <!-- Shopping cart table -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="p-2 px-3 text-uppercase">Product</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Price</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Quantity</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Remove</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>


                                @{int count = 0;}

                                @foreach (var item in ViewBag.ShopingCartProducrs)
                                {
                                    <tr>
                                        <th scope="row">
                                            <div class="p-2">
                                                <img src="~/Content/Resources/images/@item.Image" alt="" width="70" class="img-fluid rounded shadow-sm">
                                                <div class="ml-3 d-inline-block align-middle">
                                                    <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block">@item.Name</a></h5>
                                                    @*<span class="text-muted font-weight-normal font-italic">Category: @item.Category.Id</span>*@
                                                </div>
                                            </div>
                                        <td class="align-middle"><strong>@item.Price</strong></td>
                                        <td class="align-middle">
                                            <input type="number"
                                                   value="@Model.ShoppingCartProducts.ElementAt(count).Quantity"
                                                   style="width:10vw"
                                                   id="q-@Model.ShoppingCartProducts.ElementAt(count).Id"
                                                   onblur="updateQuantity(@Model.ShoppingCartProducts.ElementAt(count).Id, event)" /><br />
                                            <span id="e-@Model.ShoppingCartProducts.ElementAt(count).Id" style="color: red; display: none;">This Quantity isn't Available</span>
                                        </td>
                                        <td class="align-middle">
                                            <a href="/ShoppingCart/RemoveProduct/?ShopCartProductId=@Model.ShoppingCartProducts.ElementAt(count).Id&&price=@item.Price&&quantity=@Model.ShoppingCartProducts.ElementAt(count).Quantity" class="text-dark"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    count++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- End -->
                </div>
            </div>

            <div class="row py-5 p-4 bg-white rounded shadow-sm">
                @*<div class="col-lg-6">
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Coupon code</div>
                    <div class="p-4">
                        <p class="font-italic mb-4">If you have a coupon code, please enter it in the box below</p>
                        <div class="input-group mb-4 border rounded-pill p-2">
                            <input type="text" placeholder="Apply coupon" aria-describedby="button-addon3" class="form-control border-0">
                            <div class="input-group-append border-0">
                                <button id="button-addon3" type="button" class="btn btn-dark px-4 rounded-pill"><i class="fa fa-gift mr-2"></i>Apply coupon</button>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Instructions for seller</div>
                    <div class="p-4">
                        <p class="font-italic mb-4">If you have some information for the seller you can leave them in the box below</p>
                        <textarea name="" cols="30" rows="2" class="form-control"></textarea>
                    </div>
                </div>*@
                <div class="col-lg-12">
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
                    <div class="p-4">
                        <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>
                        <ul class="list-unstyled mb-4">
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong id="totalPrice">$ @Model.totalPrice</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping and handling</strong><strong>$10.00</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tax</strong><strong>$0.00</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom">
                                <strong class="text-muted">Total</strong>
                                <h5 class="font-weight-bold" id="totalPriceWithShipping">$ @(Model.totalPrice+10)</h5>
                            </li>
                        </ul>
                        @if (Model.totalPrice == 0)
                        {
                            <a id="checkoutBtn" class="btn btn-dark rounded-pill py-2 btn-block">Procceed to checkout</a>
                        }
                        else
                        {
                            <a id="checkoutBtn" href="~/Order/Checkout" class="btn btn-dark rounded-pill py-2 btn-block">Procceed to checkout</a>
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>
}


@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script src="~/signalr/js"></script>
    <script>
        var proxy = $.connection.ShoppingCartHub;
        $.connection.hub.start().done(
            function () {
                console.log("server connected")
            }
        );

        function updateQuantity(shoppingCartProductId, event) {
            var userid = $("#userId").val();
            proxy.server.UpdateQuantity(userid, shoppingCartProductId, event.target.value);
        }

        proxy.client.unavialableQuantity = function (quantity, shoppingCartProductId, userid) {
            var id = $("#userId").val();
            if (id == userid) {
                $("#q-" + shoppingCartProductId.toString()).val(quantity);
                $("#e-" + shoppingCartProductId.toString()).fadeIn();
                setTimeout(function () {
                    $("#e-" + shoppingCartProductId.toString()).fadeOut();
                }, 3000);
            }
        }

        proxy.client.updateTotal = function (totalPrice, userid) {
            var id = $("#userId").val();
            if (id == userid) {
                var totalWithShipping = totalPrice + 10;
                var str = "$" + totalWithShipping;
                $("#totalPrice").text(totalPrice);
                $("#totalPriceWithShipping").text(str);
                if (totalPrice == 0) {
                    $("#checkoutBtn").removeAttr("href");
                }
            }
        }
    </script>
}